* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


a {
    text-decoration: none !important;
    color: #a8b2c3 !important;
}


/* ======= BODY ======= */
body {
    font-family: 'Segoe UI', sans-serif;
}

.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px !important;
}


.nav-btn select {
    background: linear-gradient(135deg, #ff8c00, #ff6a00);
    color: #fff;
    padding: 8px 14px;
    border: none;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}


.nav-btn select:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.nav-btn select:focus {
    box-shadow: 0 0 0 3px rgba(255, 140, 0, 0.3);
}


/* ==================make a btn =============== */
.btn-start {
    background: #0b2c4d;
    color: white;
    border-radius: 10px;
    padding: 5px 15px !important;
    font-weight: 500;
    border: none;
    transition: .3s;
    border: 2px solid white;
}

.btn-start:hover {
    background: #ffffff42;
    backdrop-filter: blur(9px);
    color: white;
}



/* ==================scrollbar =================== */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f5fb;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#0b2c4d, #1e4b7a);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0b2c4d;
}





/* ======= NAVBAR CONTAINER ======= */
.premium-nav {
    /* background: linear-gradient(120deg, #0083b5, #ff7b00); */
    background-color: #0e1624;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
    padding: 15px 0;
    box-shadow:
        0 10px 25px rgba(0, 0, 0, 0.555),
        0 4px 6px rgba(0, 0, 0, 0.534);
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    position: fixed !important;
    z-index: 1000;
}

/* ======= LOGO ======= */
.logo-area {
    display: flex;
    align-items: center;
    gap: 25px;
    width: 100px;
    height: 100px;
    border-radius: 50% !important;
}

.logo-area img {
    width: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* ======= MENU ======= */
.nav-link {
    color: #ffffff !important;
    margin: 0 6px;
    font-weight: 500;
    font-size: 13.5px !important;
    padding: 8px 14px;
    border-radius: 8px;
    transition: .3s;
}


.nav-link {
    text-decoration: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.nav-link::before,
.nav-link::after {
    content: "";
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transition: transform 0.4s;
}

.nav-link::before {
    top: 0;
    left: 0;
    transform-origin: left;
}

.nav-link::after {
    bottom: 0;
    right: 0;
    transform-origin: right;
}

.nav-link:hover::before,
.nav-link:hover::after {
    transform: scaleX(1);
}


/* Active like image */
.nav-link.active {
    color: #ff9800 !important;
}


.navbar-toggler {
    border-color: white !important;
}

.navbar-toggler-icon {
    filter: invert(1);
}


/* ======= MOBILE ======= */
@media(max-width:991px) {
    .nav-link {
        text-align: center;
    }
}



/* ===================== HERO BANNER  ================== */

.hero {
    background:
        linear-gradient(135deg, rgba(122, 69, 0, 0.39), rgba(199, 186, 0, 0.425)),
        url('./../assets/images/home-banner.avif');

    background-size: cover;
    background-position: center;
    padding: 150px 0;
    color: white;
    margin-top: 100px;
}

/* ===== BADGE ===== */
.tag {
    background: rgba(255, 255, 255, 0.63);
    padding: 6px 16px;
    border-radius: 30px;
    font-size: 13px;
    letter-spacing: 1px;
}

/* ===== TITLE ===== */
.hero h1 {
    font-weight: 800;
    font-size: 48px;
}

/* ===== CTA ===== */
.btn-cta {
    background: linear-gradient(90deg, #ff9800, #ffb74d);
    border: none;
    padding: 14px 32px;
    border-radius: 40px;
    color: white;
    font-weight: 600;
    box-shadow: 0 12px 30px rgba(255, 152, 0, .3);
}


.hero-img {
    width: 100%;
    height: 450px;
    position: relative;
    border: 2px solid white;
    border-radius: 26px;
}

.hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 26px;
}

/* NEW */
.heroImageSwiper {
    width: 100%;
}



/* ===== MOBILE ===== */
@media(max-width:768px) {
    .hero h1 {
        font-size: 32px;
    }
}


/* ====================featured section ============= */

/* ===== SECTION ===== */
.featured {
    padding: 60px 0;
    margin-top: -150px;
}

/* ===== GRID SYSTEM ===== */
.card-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

/* ===== STAT CARD ===== */
.card-stat {
    background: linear-gradient(145deg,
            #07182c,
            #081c33);

    backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 0, 0, 0.151) !important;
    border-radius: 16px;

    padding: 40px 25px !important;
    transition: .3s;
    color: white;
    text-align: center;
    position: relative !important;
    cursor: pointer;
}

.card-stat::after {
    content: "";
    position: absolute !important;

    width: 100%;
    height: 2px;
    background: white;
    bottom: 0;
    left: 0;
    border: 1px solid white;
}


.card-stat:hover {
    transform: translateY(-6px);
}

.card-stat h3 {
    font-weight: 700;
    margin: 0;
}

/* ===== RESPONSIVE ===== */

/* Tablet */
@media(max-width:992px) {
    .card-area {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile */
@media(max-width:600px) {
    .card-area {
        grid-template-columns: 1fr;
    }
}

/* ===============breaking news section ============ */
.news-board {
    background: #080b27;
    border-radius: 16px;
    overflow: hidden;
    color: #fff;
}

.news-header {
    background: #0f1d4a;
    padding: 12px;
}

.live-tag {
    color: #ffb100;
    font-weight: 600;
}

.news-list {
    background: #242a38;
    max-height: 420px;
    overflow: auto;
}

.news-item {
    padding: 12px;
    border-bottom: 1px solid #2f3645;
}

.time {
    background: #2f3645;
    padding: 4px 8px;
    border-radius: 20px;
    font-size: 12px;
}

.badge-agri {
    background: #0fa958;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
}

.badge-invest {
    background: #ff8c00;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
}

.news-footer {
    background: #1d2230;
    padding: 8px;
    font-size: 12px;
}

/* LOADING STYLE */
.loading {
    padding: 40px;
    text-align: center;
    font-size: 18px;
    color: #0fa958;
}


/* =====================about us ==================== */
.about-v2 {
    background: #fafcff;
    padding: 110px 0;
}

/* ===== MAIN CARD ===== */
.main-card {
    background: white;
    border-radius: 20px;
    padding: 34px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .05);
    border-top: 4px solid #ff9800;
}

.top-line {
    color: #ff9800;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 600;
}

.main-card h2 {
    font-weight: 800;
    margin-top: 10px;
    color: #0e1b2f;
}

.main-card p {
    color: #5f6b7a;
    margin-top: 12px;
}

/* ===== LIST ===== */
.check-list {
    padding: 0;
    list-style: none;
    margin-top: 16px;
}

.check-list li {
    margin: 8px 0;
    color: #3d4a5c;
}

/* ===== BUTTON ===== */
.btn-outline {
    display: inline-block;
    margin-top: 12px;
    color: #ff9800;
    font-weight: 600;
    text-decoration: none;
}

/* ===== METRICS ===== */
.metric-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.metric {
    background: white;
    border-radius: 16px;
    padding: 45px;
    border: 1px solid #edf1f7;
    transition: .3s;
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.815);
}

.metric:hover {
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.479);
    cursor: pointer;
    background-color: #ffb74d;

    h3 {
        color: white !important;
    }
}

.metric h3 {
    color: #ff9800;
    font-weight: 800;
    margin: 0;
}

/* ===== MOBILE ===== */
@media(max-width:768px) {
    .metric-wrap {
        grid-template-columns: 1fr;
    }
}





/* ===============OUR SERVICE ================ */

.service-pro {
    padding: 110px 0;
    background-attachment: fixed !important;
    background: linear-gradient(#0000008f, #00000080), url(./../assets/images/agricultureImage.png);
}

/* ===== FLOAT WRAP CARD ===== */
.wrap-card {
    background: rgba(0, 0, 0, 0.521);

    border-radius: 26px;

    box-shadow:
        0 30px 60px rgba(0, 0, 0, .06),
        0 10px 20px rgba(0, 0, 0, .04);

    padding: 40px;
}

/* ===== TITLE ===== */
.tag {
    color: #ff9800;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 600;
}

.title {
    font-weight: 800;
    color: #0a1830;
}

.sub {
    max-width: 680px;
    margin: auto;
    color: #67748e;
}

/* ===== INNER CARD ===== */
.p-card {
    background: #fbfdff;

    border: 1px solid #e8eff9;
    border-radius: 18px;

    padding: 35px;

    height: 100%;

    transition: .3s;
}

/* highlight card */
.p-card.focus {
    border-color: #ff9800;
    background: #fffaf2;
}

/* hover */
.p-card:hover {
    transform: translateY(-6px);
    cursor: pointer;
    box-shadow:
        0 20px 40px rgba(255, 255, 255, 0.473);
}

/* ===== ICON ===== */
.icon {
    width: 50px;
    height: 50px;

    background: #fff2e0;
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 22px;
    margin-bottom: 10px;
}

/* ===== TEXT ===== */
.p-card h5 {
    font-weight: 700;
    color: #0a1830;
}

.p-card p {
    font-size: 14px;
    color: #67748e;
}

/* ===== LINK ===== */
.link {
    color: #ff9800;
    font-weight: 600;
}

/* ===== MOBILE ===== */
@media(max-width:768px) {
    .wrap-card {
        padding: 24px;
    }
}



/* ===================== industry service =============== */

/* ===== SECTION ===== */
.sector-pro {
    padding: 120px 0;

    background:
        linear-gradient(140deg,
            #081c33,
            #0a2540,
            #07182c);
}

/* ===== TITLE ===== */
.mini {
    color: #ff9800;
    letter-spacing: 3px;
    font-size: 13px;
    font-weight: 600;
}

.title {
    color: white;
    font-weight: 800;
}

.sub {
    max-width: 700px;
    margin: auto;
    color: #9fb3c8;
}

/* ===== CARD ===== */
.sector-card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 20px;

    padding: 26px;
    height: 100%;

    transition: .3s;

    position: relative;
    overflow: hidden;
}

.sector-card:hover {
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;

}


/* ===== ICON ===== */
.icon {
    width: 56px;
    height: 56px;

    background:
        linear-gradient(135deg,
            rgba(255, 152, 0, .2),
            rgba(255, 152, 0, .05));

    border-radius: 14px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 24px;
    margin-bottom: 12px;

    color: #ff9800;
}

/* ===== TEXT ===== */
.sector-card h4 {
    color: white;
    font-weight: 700;
}

.sector-card p {
    color: #9fb3c8;
    font-size: 15px;
}

/* ===== LINK ===== */
.view {
    color: #ff9800;
    font-weight: 600;
}

/* ===== MOBILE ===== */
@media(max-width:768px) {
    .sector-pro {
        padding: 80px 0;
    }
}

/* ==================OUR LIVE MARKETS SECTION ============== */

.market-section {
    background: linear-gradient(135deg, #2b6cff, #5c8fff);
    padding: 40px 20px;
    border-radius: 16px;
    color: white;
}

.market-title {
    font-size: 22px;
    font-weight: 600;
}

.market-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    border-radius: 12px;
    padding: 20px;
    transition: .3s;
}

.market-card:hover {
    transform: translateY(-5px);
    background: rgba(255, 255, 255, 0.15);
}

.asset-name {
    font-size: 14px;
    opacity: .9;
}

.price {
    font-size: 24px;
    font-weight: bold;
}

.change {
    font-size: 13px;
}

.up {
    color: #a8ffb0;
}

.down {
    color: #ffb0b0;
}

/* =======================country news ================= */

.filter-tab {
    padding: 10px 25px;
    border-radius: 50px;
    border: 1px solid #eef0f2;
    background: #ffffff;
    font-size: 0.85rem;
    font-weight: 600;
    transition: all 0.3s ease;
}

.filter-tab.active {
    background: #198754;
    /* Success Green */
    color: #ffffff;
    border-color: #198754;
}

.news-card {
    background: #ffffff;
    border: 1px solid #eef0f2;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 100%;
}

.news-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.card-img-wrap {
    height: 200px;
    position: relative;
    overflow: hidden;
}

.card-img-wrap:hover .invest-btn {
    display: inline-block;
}

.invest-btn {
    display: none;
    transition: all 0.6s ease-in-out;
    position: absolute;
    background-color: rgb(243, 158, 0);
    color: black !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 16px;
    border: 1px solid white;
}

.card-img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category-badge {
    position: absolute;
    top: 15px;
    left: 15px;
    background: #6f42c1;
    /* Mining Purple */
}

.grade-badge {
    position: absolute;
    top: 15px;
    right: 15px;
    background: #198754;
}

/* Filtering Animation */
.news-item {
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.news-item.hidden {
    display: none;
    opacity: 0;
}


/* ===================OUR INVESTMENT SECTION ==========  */
.invest-card {
    background: #fff;
    border-radius: 16px;
    border: 1px solid #e6ecea;
    border-top: 4px solid #0f1ea9;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

/* PRICE BADGE */
.price {
    background: #f1faf5;
    color: #0fa958;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 600;
}

/* STEP BLOCK */
.step-block {
    margin-top: 10px;
    padding-bottom: 8px;
    border-bottom: 1px dashed #e5e9e7;
}

.step-title {
    color: #0fa958;
    font-weight: 600;
}

.step-block p {
    font-size: 14px;
    color: #4a5c59;
}

/* REVIEW BOX */
.review-box {
    background: #f1faf5;
    padding: 10px;
    border-radius: 12px;
    margin-top: 12px;
}

.avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.name {
    color: #0fa958;
}

/* PROFIT */
.profit {
    color: #0fa958;
    font-weight: 600;
}

/* FOOTER */
.footer {
    font-size: 12px;
    color: #999;
}






/* =============our success story ============ */

.investor-voices-section {
    background: #f8faf9;
    padding: 40px 0;
    font-family: 'Segoe UI', sans-serif;
}

.investor-voices-section .container {
    max-width: 1250px;
    margin: auto;
}

/* HEADER */
.investor-voices-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.investor-voices-header h2 {
    color: #0f2a25;
}

.investor-voices-header p {
    color: #7a8c89;
}

/* NAV */
.investor-voices-nav {
    display: flex;
    gap: 10px;
}

.investor-voices-nav button {
    width: 40px;
    height: 40px;
    border: 1px solid #e0e6e4;
    background: white;
    border-radius: 8px;
    cursor: pointer;
}

/* CARD */
.investor-voices-card {
    background: #07182c;
    border-radius: 16px;
    color: white;
    padding: 22px;
    border: 1px solid #e6ecea;
    transition: .3s;
}

.investor-voices-card:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, .06);
}

/* QUOTE */
.voices-quote {
    width: 34px;
    height: 34px;
    background: #fff4d6;
    color: #ffb400;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}

/* TEXT */
.voices-text {
    color: #4a5c59;
    line-height: 1.6;
    min-height: 110px;
}

/* TAGS */
.voices-tags {
    display: flex;
    gap: 8px;
    margin: 12px 0;
    flex-wrap: wrap;
}

.voices-tags span {
    border: 1px solid #e1e7e5;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 13px;
}

.voices-green {
    background: #e8f8ef;
    color: #0fa958;
    border: none;
}

/* PROFILE */
.voices-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.voices-left {
    display: flex;
    gap: 10px;
    align-items: center;
}

.voices-left img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.voices-stars {
    color: #ffb400;
}

/* SWIPER */
.investorVoicesSwiper {
    padding: 10px;
}

/* RESPONSIVE */
@media(max-width:992px) {
    .investor-voices-header {
        flex-direction: column;
        align-items: start;
    }
}


























/* ==============CALL TO ACTION =============== */

/* ===== SECTION ===== */
.cta-pro {
    padding: 100px 0;
    background: #f8fbff;
    margin-bottom: -12%;
}

/* ===== BOX ===== */
.cta-box {
    background:
        linear-gradient(135deg, #100f5a, #123e4f);

    border-radius: 24px;

    padding: 60px 20px;

    text-align: center;
    color: white;

    position: relative;
    overflow: hidden;
}

/* subtle shape */
.cta-box::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;

    background: rgba(255, 255, 255, .06);
    border-radius: 50%;

    left: -80px;
    bottom: -80px;
}

/* ===== TEXT ===== */
.cta-box h2 {
    font-weight: 800;
}

.cta-box p {
    max-width: 720px;
    margin: 12px auto;
    opacity: .9;
}

/* ===== INPUT WRAP ===== */
.mail-wrap {
    max-width: 520px;
    margin: 20px auto;

    display: flex;

    background: white;
    border-radius: 40px;

    overflow: hidden;
}

/* input */
.mail-wrap input {
    flex: 1;
    border: none;
    padding: 14px 18px;
    outline: none;
}

/* button */
.mail-wrap button {
    background: #ff9800;
    border: none;

    padding: 0 24px;
    color: white;
    font-weight: 600;
}

/* small */
.cta-box small {
    opacity: .8;
}

/* ===== MOBILE ===== */
@media(max-width:600px) {

    .mail-wrap {
        flex-direction: column;
        border-radius: 16px;
    }

    .mail-wrap button {
        padding: 12px;
    }

}







/* =================FOOTER SECTION ================ */


.footer-pro {
    background: #0e1624;
    padding: 90px 0 30px;
    color: #a8b2c3;
}

/* ===== BRAND BOX ===== */
.brand-box img {
    width: 100px !important;
    height: 100px;
    border-radius: 50%;
}

.brand-box span {
    color: #ff9800;
}

.brand-box p {
    margin: 12px 0;
}

/* social */
.social a {
    width: 36px;
    height: 36px;

    background: rgba(255, 255, 255, .06);
    border-radius: 10px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin-right: 6px;
}

/* ===== HEAD ===== */
.footer-pro h5 {
    color: white;
    margin-bottom: 12px;
}

/* ===== LINKS ===== */
.f-links {
    padding: 0;
    list-style: none;
}

.f-links li {
    margin: 8px 0;
    transition: .3s;
}

.f-links li:hover {
    color: #ff9800;
    padding-left: 6px;
}

/* ===== CONTACT ===== */
.contact-card {
    background: rgba(255, 255, 255, .05);
    border-radius: 16px;
    padding: 18px;
}

.contact-card p {
    margin: 6px 0;
}

/* ===== BOTTOM ===== */
.bottom {
    border-top: 1px solid rgba(255, 255, 255, .1);
    padding-top: 16px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mini {
    font-size: 13px;
}

/* ===== MOBILE ===== */
@media(max-width:768px) {
    .bottom {
        text-align: center;
        justify-content: center;
    }
}